.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  width: 400px;
  height: 600px;
  margin: auto;
  background: #6F8FA2;
  font-family: monospace;
}

.displayOne {
  font-size: 2em;
  margin-right: 10px;
  align-self: center;
  justify-self: right;
}

.displayTwo {
  font-size: 5em;
  margin-right: 10px;
  align-self: center;
  justify-self: right;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 2em;
}

.numPad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #28536C;
}

.num {
  text-align: center;
  line-height: 100px;
}

.operators {
  display: grid;
  grid-template-columns: 1fr;
  background: #113951;
}

.op {
  text-align: center;
  line-height: 80px;
}
