.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 4fr;
  width: 400px;
  height: 600px;
  margin: auto;
  background: #6F8FA2;
  font-family: monospace;
}

.displayOne {
  font-size: 2em;
  margin-right: 20px;
  align-self: center;
  justify-self: right;
}

.displayTwo {
  font-size: 5em;
  margin-right: 20px;
  align-self: center;
  justify-self: right;
}

.buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 2em;
}

.numPad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #28536C;
}

.num {
  text-align: center;
  line-height: 100px;
}

.operators {
  display: grid;
  grid-template-columns: 1fr;
  background: #113951;
}

.op {
  text-align: center;
  line-height: 80px;
}

.num, .op {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  transition: background-color .4s ease, opacity .4s ease;
}

.num:hover, .op:hover {
  background-color: #6F8FA2;
  opacity: .7;
}
